.time {
    float: right;
}

#timer {
    float: right;
}

#qbox {
    margin-top: 40px;
}

#b1 {
    margin: 4px 0px 4px 0px;
}

#b2 {
    margin: 4px 0px 4px 0px;
}

#b3 {
    margin: 4px 0px 4px 0px;
}

#b4 {
    margin: 4px 0px 4px 0px;
}