.time {
    float: right;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}

#timer {
    float: right;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}

#score {
    float: right;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
}

#scores {
    float: right;
    border-right-style: solid;
}

#questions {
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    padding: 10px 30px 10px 30px;
}

#qbox {
    margin-top: 40px;
}

#b1 {
    margin: 4px 0px 4px 0px;
}

#b2 {
    margin: 4px 0px 4px 0px;
}

#b3 {
    margin: 4px 0px 4px 0px;
}

#b4 {
    margin: 4px 0px 4px 0px;
}



